USE [FireSafetyDB]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 14.05.2026 16:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[BuildingID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingName] [varchar](100) NOT NULL,
	[BuildingType] [varchar](50) NOT NULL,
	[ConstructionYear] [int] NULL,
	[BuildingSize] [varchar](10) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[PostCode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FireSystems]    Script Date: 14.05.2026 16:23:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FireSystems](
	[SystemID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingID] [int] NOT NULL,
	[Supplier] [varchar](50) NOT NULL,
	[SmokeDetectors] [int] NULL,
	[MultiDetectors] [int] NULL,
	[OtherDetectors] [varchar](50) NULL,
	[TotalErrors] [int] NULL,
	[FirstInspectionYear] [varchar](25) NULL,
	[FirstControl] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SystemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FireSystems]  WITH CHECK ADD FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Buildings] ([BuildingID])
GO
